<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navigation">
        <h2>물류 관리 프로그램</h2>
        {% if not user %}
        <a href="{{url_for('signup')}}">회원 가입</a>
        <a href="{{url_for('signin')}}">로그인</a>
        {% endif %}
        <a href="{{url_for('list_product')}}">상품 목록</a>
        {% if user %}
        {% if role == "admin" %}
        <a href="{{url_for('insert')}}">상품 등록</a>
        {% endif %}
        <a href="{{url_for('signout')}}">로그아웃</a>
        {% endif %}
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>