{% extends "layout.html" %}

{% block title %}
상품 수정
{% endblock %}

{% block content %}
<h2>상품 수정</h2>
<form method="POST" action="{{url_for('update', pid=product[0])}}" onsubmit="return checkProduct(this)">
    <label>이름 <input type="text" name="name" value="{{product[1]}}" required></label><br>
    <label>가격 <input type="text" name="price" value="{{product[2]}}" required></label><br>
    <label>재고 <input type="text" name="stock" value="{{product[3]}}" required></label><br>
    <label for="description">설명</label><br>
    <textarea id="description" name = "description" rows="3" cols="10">{{product[4]}}</textarea><br>
    <button type="submit">수정</button>
</form>
{% endblock %}